matplotlib
numpy==1.22.4
pandas
scikit-learn
sklearn-pandas
scikit-survival
notebook
seaborn
pyyaml
shap
xgboost
lifelines
xgbse
mrmr-selection
umap-learn
umap
catboost
lightgbm
plotly
optuna
ipywidgets
rpy2
pycox
torch==1.8.0
torchvision==0.9.0
torchaudio==0.8.0
sklearn_pandas
fitter
#statsmodels
#pymsm
#distfit
#survival-datasets
graphviz
config
C:\Users\User\Desktop\UNI\MasterThesis\maintenance prediction\auton-survival-master
datashader
bokeh
holoviews
scikit-image
colorcet
dcor