matplotlib
numpy== 1.24.3
pandas
scikit-learn
sklearn-pandas
scikit-survival
notebook
seaborn
pyyaml
eli5
shap
xgboost
lifelines
xgbse
mrmr-selection
umap-learn
umap
catboost
lightgbm
plotly
optuna
ipywidgets
keras
tensorflow
rpy2
pycox
torch== 1.13.1
torchvision==0.14.1 
torchaudio==0.13.1
sklearn_pandas
fitter
statsmodels
pymsm
distfit
survival-datasets
graphviz
config
